@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
    scroll-behaviour: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-size: 48px;
}

header {
    margin: 0;
    width: 100%;
    background-color: #4db33d;
    color: white;
}

header h1 {
    margin: 0;
    text-align: center;
    color: #3f3e42;
    font-family: 'Lato', 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: lightgray;
}

.active {
    background: darkgray;
}
